node_modules/
lib/
dist/
.dist/
*.d.ts
*.min.js
**/fixtures/**/*.js
**/fixtures/**/*.json
**/fixtures/**/*.ts
**/template/**/*.js
**/template/**/*.ts
**/templates/**/*.js
**/templates/**/*.ts
**/templates/**/*.json
packages/km7/templates/
**/*.svg
package.json
.dockerignore
.eslintignore
